/* CSS Document */

#sidebar{
	position: absolute;
	width: 23%;
	top:42px;
	bottom:0;
	left: 0;
	overflow-y:scroll;
	border-right: solid 1px #E5E5E5;
}



#contentbar{
 position: absolute;
 width: 77%;
 top:42px;
 bottom:41px;
 left:23%;
 overflow-y:scroll;
}

#contentbar_footers{
 position: absolute;
 width: 77%;
 bottom:0;
 left:23%;
 float:right;
 height:40px;
 background:#224889;
}


#contentbar_inner{
	height:auto;
	width:100%;
	margin-bottom:120px;
}

#fix_pabePanel{
	position:fixed;
	width:900px;
	height:70px;
	background:#FFF;
	z-index:2
}


#accounttile{
	font-size: 13px;
    color: #FFF;
    background:#4968A1;
    margin: 0;
    padding: 8px;
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:5px;
	font-weight:bold;
	margin-top:0px;
	position:fixed;
	width:73%;
	z-index:3
}


#butoss input{   
    padding: 2px 3px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    background:  url(customerManagement/image/but.png) repeat-x center bottom                                ;
	font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 13px;
    white-space: nowrap;
    overflow: visible; /* keeps IE from making buttons too wide */
	font-weight:bold;
}


#saveDiv{
	font-size: 11px;
    color: #000;
    margin: 0;
    padding: 8px;
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:5px;
	font-weight:bold;
	margin-top:34px;
	position:fixed;
	width:76%;
	background:#FFFFFF;
}

#tabelPanel{
	margin-bottom:10px;
}



#accountf{ 
width:750px;
padding:5px;
margin-left:15px;

}


#apMenu{ 
 padding:10px;
 border: solid 1px #E5E5E5;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 font-weight:bold;
 color:#FFF;
 background:#4968A1;
 width:20%;
 position:fixed;
 z-index:3;

 }
 
 .tablebuttonbar {
    width: 700px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}



.tablenavigation {
    text-align: left;
    white-space: nowrap;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	
}

.tablenavigation img {
    width: 1px;
    height: 12px;
    border: 0px;
    margin: 0px 5px;
    vertical-align: bottom;
}

 
#body_parent_div{
  width:100%;
  height:100%;	 
}

#header_parent_panels{
   width:100%;	
   background:#4968A1; 
   height:40px;
}




#close{
  float: right;
  cursor: pointer;
  font-size: 15px;	
}
